
<%= simple_form_for @meter_status, :remote=>true do |f| %>
  <div id="error_explanation" class="alert alert-danger">
  </div>
  
  <%= f.input :name, label: '表具运行状态' %>
  <%= f.input :remark, label: '备注信息', as: :text %>
  <%= f.input :order_num, label: '排序码' %>
  <%= f.button :submit, @meter_status.new_record? ? "保存数据" : "更新数据", :class => 'btn btn-primary' %>
<% end %>